/* Style inputs with type="text", select elements and textareas */
a{
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: Monda;
  margin: 2rem 2.2rem;
  font-size: 1.3rem;
}

a:hover{
  color: red;
}


body{
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
}

placeholder{
  font-family: monospace;
}
h1{
  color: white;
  text-align: center;
  font-family: 'New Rocker', sans-serif;
  margin: 5% auto 0;
  letter-spacing: 1.5rem;
  font-size: 4rem;
}

label{
  font-family: 'New Rocker', sans-serif;
  color: white;
}
html{
  height: 100%;
  width: 100%;
  margin: 0;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: black;
  font-family: 'New Rocker';
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: darkred;
  padding: 20px;
  width: 48%;
  margin: 0 auto;
}

.top-container{
  border-color: darkred;
  border-style: double;
  width: 50%;
  margin: 2% auto;
}
